# Backend
flask==3.0.2
python-dotenv==1.0.1

# PDF ingestion
pypdf==4.1.0

# Embeddings
sentence-transformers==2.2.2

# Vector DB
pinecone-client==5.0.1

# LangChain (stable)
langchain==0.1.16
langchain-core==0.1.52
#langchain-community==0.0.34
langchain-pinecone==0.1.3

# Gemini
langchain-google-genai==0.0.11
google-generativeai==0.4.1

# Guards
pydantic<3
protobuf<5

-e .
